USE [EventManagementSystemDB]
GO

/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventId] [uniqueidentifier] NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[EventCategory] [nvarchar](50) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[EventDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParticipantEvents]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticipantEvents](
	[Id] [uniqueidentifier] NOT NULL,
	[ParticipantEmailId] [nvarchar](450) NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[IsAttended] [bit] NOT NULL,
 CONSTRAINT [PK_ParticipantEvents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[SessionId] [uniqueidentifier] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[SessionTitle] [nvarchar](50) NOT NULL,
	[SpeakerId] [uniqueidentifier] NULL,
	[Description] [nvarchar](500) NULL,
	[SessionStart] [datetime2](7) NOT NULL,
	[SessionEnd] [datetime2](7) NOT NULL,
	[SessionUrl] [nvarchar](2048) NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Speakers]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Speakers](
	[SpeakerId] [uniqueidentifier] NOT NULL,
	[SpeakerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Speakers] PRIMARY KEY CLUSTERED 
(
	[SpeakerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-05-2026 11:18:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[EmailId] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260514070411_InitialCreate', N'8.0.11')
GO
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (N'318cb9e1-9795-4354-98a6-5bb8b5d5dbe5', N'Business')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (N'aabd70a7-92fb-4927-afba-d83a1427c131', N'Cloud & DevOps')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (N'a8ae7c75-b662-486f-b06e-08d7cbc3f65e', N'Design')
GO
INSERT [dbo].[ParticipantEvents] ([Id], [ParticipantEmailId], [EventId], [IsAttended]) VALUES (N'11e03b02-05d4-413f-a2f2-03a1b33c95aa', N'manav.trivedi52@gmail.com', N'3bfe0370-6e98-44b1-a8f7-38cce576646a', 0)
INSERT [dbo].[ParticipantEvents] ([Id], [ParticipantEmailId], [EventId], [IsAttended]) VALUES (N'a206ec7c-f413-4320-bcc3-0d3b83a942e9', N'meera.chavan63@gmail.com', N'8c5c3db9-ce9e-46cd-88da-781f61701be0', 0)
INSERT [dbo].[ParticipantEvents] ([Id], [ParticipantEmailId], [EventId], [IsAttended]) VALUES (N'8907f830-50fd-4e42-bd62-0efebe96b714', N'omkar.bhatt18@gmail.com', N'fe871304-a688-47cb-bf06-4cdc94fd9f77', 0)
GO
INSERT [dbo].[Speakers] ([SpeakerId], [SpeakerName]) VALUES (N'8c840eeb-808c-4efc-a90f-12eaf12a7bee', N'Neha Kulkarni')
INSERT [dbo].[Speakers] ([SpeakerId], [SpeakerName]) VALUES (N'01eae2fe-2cd0-4ddf-895e-5189d6f7eca0', N'Rohan Desai')
INSERT [dbo].[Speakers] ([SpeakerId], [SpeakerName]) VALUES (N'f420c045-65b2-4a3e-b683-5a5d3acaab9d', N'Priya Sharma')
GO
INSERT [dbo].[Users] ([EmailId], [UserName], [Role], [Password]) VALUES (N'atharvabibave@gmail.com', N'Atharva Bibave', N'Participant', N'$2a$11$yeV/ABZbpdL2GoVbaSNG0.XUlJTjxqWsHPuIHJ63C5tWCV.lUSn5i')
INSERT [dbo].[Users] ([EmailId], [UserName], [Role], [Password]) VALUES (N'aarav.sharma91@gmail.com', N'Aarav Sharma', N'Participant', N'$2a$11$yeV/ABZbpdL2GoVbaSNG0.XUlJTjxqWsHPuIHJ63C5tWCV.lUSn5i')
INSERT [dbo].[Users] ([EmailId], [UserName], [Role], [Password]) VALUES (N'aditya.pandey41@gmail.com', N'Aditya Pandey', N'Participant', N'$2a$11$yeV/ABZbpdL2GoVbaSNG0.XUlJTjxqWsHPuIHJ63C5tWCV.lUSn5i')
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Categories_CategoryId]
GO
ALTER TABLE [dbo].[ParticipantEvents]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantEvents_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParticipantEvents] CHECK CONSTRAINT [FK_ParticipantEvents_Events_EventId]
GO
ALTER TABLE [dbo].[ParticipantEvents]  WITH CHECK ADD  CONSTRAINT [FK_ParticipantEvents_Users_ParticipantEmailId] FOREIGN KEY([ParticipantEmailId])
REFERENCES [dbo].[Users] ([EmailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParticipantEvents] CHECK CONSTRAINT [FK_ParticipantEvents_Users_ParticipantEmailId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([EventId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Events_EventId]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Speakers_SpeakerId] FOREIGN KEY([SpeakerId])
REFERENCES [dbo].[Speakers] ([SpeakerId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Speakers_SpeakerId]
GO
